<div class="container">
    <!-- Header Section -->
    <div class="row">
        <div class="col-md-12 ">
            <h2>Do you need to elevate your Web App <br>experience with an <span class="highlight">Angular</span> Expert
                ?
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pb-2 carter ">
            <p class="pop-in">Discover the difference with</p>
            <h2 class="pop-in"><span class="highlight ">A</span>NISH <span class="highlight ">K</span>UMAR
            </h2>
            <p class="pop-in">Pioneering Front-End Excellence for a Decade </p>
            <!-- Buttons -->
            <div class="mt-3">
                <button class="btn btn-primary slideInFromRight" (click)="downloadCV()">DOWNLOAD CV</button>
                <button class="btn btn-primary slideInFromRight" routerLink="/about">LEARN MORE</button>
            </div>
        </div>

        <!-- Profile Image Section -->
        <div class="col-md-6 pop-in">
            <!-- Image will be responsive and scale with the viewport -->
            <img src="./../../assets/ak.png" alt="Profile Image" class="img-fluid">
        </div>
    </div>
</div>